body {
	width:1240px;
	margin:0 auto;
	background-color: black;
	color: white;
}

header {
	text-align: center;
}

header, .choice {
	margin-bottom: 60px;
}

.result {
	margin-top: 60px;
}

button {
	cursor: pointer;
}

img {
	margin:10px;
	border:4px solid orange;
}

section {
	margin-left: 10px;
}